@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;600&display=swap');

:root {
    
    --bg-navbar: #7fd1f1;
    --color-text-title: #ff9770;
    --bg-element-primary: #ffd670;
    --bg-element-secondary: #e9ff70;

    --color-text-primary:#1c1c1c;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, li, ul {
    font-family: 'Open Sans', sans-serif;
}

/* 
============ Nav BAR =======================
*/
.my-bg-navbar {
    background-color: var(--bg-navbar);
}
.my-width-logo {
    width: 20%;
}
/* 
============ Nav BAR END =======================
*/

/* 
============ header IMG =======================
*/

.headerImage{
    background:linear-gradient(rgba(0, 0, 0, 0.400),rgba(0, 0, 0, 0.101)), url(../immagini/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

h1{
    color: white;
    font-size: 200px;
    font-family: fantasy;
}

.headerImage h2 {
    color: white;
    font-size: 50px;
    font-family: fantasy;
}

.myBtnCustom {
    border: none;
    background-color: var(--bg-element-primary);
    color: black;
    margin: 0 1rem;
    font-size: 1.70rem;
}
/* 
============ header IMG =======================
*/

.card{
    top: -100px;
    background-color: var(--bg-element-primary);
}

.imgNum{
    margin-left: 30rem;
}

.marginfoto{
    margin-top: 200px;
}